.modal {
    display: none; /* Hidden by default */
    /*position: fixed;  Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-left: 33%;
    padding-right: 33%;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modalSign{
    font-size: 25px;
}
.modalMenn{
    font-size: 16px;
}
.modalForm{
    font-size: 16px;
}
.hder{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: grey;
}
.modalLogReg{
    padding-top: 16px;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
}
.fRm{
    padding-top: 8%;
}
.modalBor{
    border-bottom: 1px solid #848484;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black; 
    border-radius: 4px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.iconForm{
    width: 20px;
    height: 20px;
}
.inputForm{
    border:none;
    padding-left: 8px;
    width: 100%;
    font-size: 14px;
}