.flex{
	display: inline-flex;
	width: 100%;
}
.flex2{
	display: inline-flex;
	width: 100%;
}
.mtcl{
	/*border-bottom: 1px solid #848484; */
}
.btnBTn{
	width: 100%;
	height: 100%;
	border-style: none;
	text-align: center;
	font-size: 17px;
	background-color: white;
	font-style: none
	color: #848484;
	outline-style: none;
}
.btnSgn{
	width: 65px;
	height: 30px;
	border-bottom: 1px solid #F71C46;
    border-right: 1px solid #F71C46;
    border-top: 1px solid #F71C46;
    border-left: 1px solid #F71C46;
    /*border-style-color:  #848484; */
    border-radius: 30px;
	text-align: center;
	font-size: 17px;
	background-color: white;
	font-style: none;
	color: #F71C46;
	outline-style: none;
}

.bgCJ{
	width: 100%;
	height: 100%;
}
/*.centered {
    position: absolute;
    top: 50%;
    left: 28.5%;
    transform: translate(-72%, -50%);
}*/

.dvCj{
	width: 196%;
	/*background-color: red;*/
}
.bd{
	padding-top: 4%;
	padding-bottom: 1%;
	border-bottom: 1px solid #848484;
}
.F3{
  	font-size: 35px;
  	text-align: center;
}
.kip{
  	font-size: 20px;
  	text-align: center;
}
.icnBd{
	width: 55px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.inf{
	font-size: 17px;
}
.tP{
	font-size: 11px;
}
.hlp{
	text-align: center;
}
.bd2{
  	padding-bottom: 2%;
  	padding-top: 2%;
  	border-bottom: 1px solid #848484;
}
.ftr{
	text-align: center;

}
.ftre{
	padding-top: 2%;
	padding-bottom: 2%;
}

@media only screen and (min-width: 961px) {
  /* For Dekstop PC/Laptop */
  .bodyy{
  	width: 100%;
  	/*position: absolute;*/
/*    top: 35%;
    left: 100%;
    transform: translate(-78%, -50%);*/
  }
  .cont{
	padding-right:19.5%;
	padding-left:19.5%;
	margin-right:auto;
	margin-left:auto;
  }
  .hd{
  	padding-top: 2%;
  	padding-bottom: 2%;
  	border-bottom: 1px solid #848484;
  	transform: translate(0%, 0%);
  }
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-79%, -50%);
  }
  .flex1{
  	display: inline-flex;
	width: 100%;
  }
  .msA{
  	font-size: 40px;
  }
  .mC{
  	font-size: 22px;
  }
  .dvCJBtn{
  	background-color: white;
	/*height: 70%; */
	width: 200%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
	border-radius: 38px;
	margin-top: 30px;
	box-shadow: 10%;
	box-shadow: 0px 2px 50px rgba(0,0,0,0.8)
  }
  .dvCj1{
  	width: 75%;
  }
  .dvCj2{
  	width: 25%;
  }
  .inputCJ{
  	padding-left: 1.5%;
  	width: 100%;
  	border-style: none;
  	outline-style: none;
  	font-size: 15px;
  	border-radius: 30px;
  	padding-top: 1.2%;
  }
  .sbmtCJ{
  	width: 100%;
  	height: 100%;
  	font-size: 19px;
  	text-align: center;
  	color: white;
  	border-style: none;
  	border-radius: 30px;
  	padding-top: 3%;
  	padding-bottom: 3%;
  	padding-left: 1.5%;
  	padding-right: 1.5%;
  	outline-style: none;
  	background-color: #F71C46;

  }
  .bdIcn{
	width: 33.33%;
	text-align: center;
  }
  .bdBd{
  	width: 33.33%;
  }
  .bdHlp{
  	padding-left: 30%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
  /* For Tablet */
  .mtcl{
  	width: 100%;
  	text-align: center;
  }
  .cont{
  	padding-right:8.5%;
	padding-left:8.5%;
	margin-right:auto;
	margin-left:auto;
  }
  
  .btnSgn{
	width: 100%;
	height: 20%;
	border-bottom: 1px solid #F71C46;
    border-right: 1px solid #F71C46;
    border-top: 1px solid #F71C46;
    border-left: 1px solid #F71C46;
    /*border-style-color:  #848484; */
    border-radius: 30px;
	text-align: center;
	font-size: 17px;
	background-color: white;
	font-style: none;
	color: #F71C46;
	outline-style: none;
	text-align: center;
  }
  .centered {
    position: absolute;
    top: 60%;
    left: 4%;
    right: 45%;
    /*transform: translate( -116%, -40%);*/
  }
  .flex1{
  	display: block;
	width: 100%;
  }  
   .flex{
  	display: block;
  	width: 100%;
  }
  .msA{
  	font-size: 30px;
  }
  .mC{
  	font-size: 12px;
  }
  .inputCJ{
  	width: 100%;
  	border:none;
  	border-top: 0.5px solid #848484;
  	border-right: 0.5px solid #848484;
  	border-left: 0.5px solid #848484;
  	border-bottom: 0.5px solid #848484;
  	padding-left: 1%;
  	padding-top: 1%;
  	padding-bottom: 1%;  	
  	border-radius: 10px;
  }
  .sbmtCJ{
  	width: 20%;
  	margin-top: 2%;
  	border-radius: 30px;
  	border:none;
  	color: white;
  	background-color: #F71C46;
  	padding-left: 1%;
  	padding-top: 1%;
  	padding-bottom: 1%; 
  	padding-right: 1%;
  }
  .dvCJBtn{
  	width: auto;
  }
  .bdIcn{
	width: 100%;
	text-align: center;
  }
  .bdHlp{
  	padding-left: 40%;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .mtcl{
  	width: 100%;
  	font-size: 50px;
  	text-align: center;
  }
  .cont{
  	padding-right:2%;
	padding-left:2%;
	margin-right:auto;
	margin-left:auto;
  }
  .btnSgn{
	width: 100%;
	height: 20%;
	border-bottom: 1px solid #F71C46;
    border-right: 1px solid #F71C46;
    border-top: 1px solid #F71C46;
    border-left: 1px solid #F71C46;
    /*border-style-color:  #848484; */
    border-radius: 30px;
	text-align: center;
	font-size: 17px;
	background-color: white;
	font-style: none;
	color: #F71C46;
	outline-style: none;
	text-align: center;
  }
  .flex{
  	display: block;
  	width: 100%;
  }
  .flex1{
  	display: block;
	width: 100%;
  } 
  .centered {
    position: absolute;
    top: 96%;
    left: 2%;
    /*transform: translate(-96%, -50%);*/
  }
  .msA{
  	font-size: 18px;
  }
  .mC{
  	font-size: 7px;
  }
  .dvCj{
  	width: 150%;
  }
  .inputCJ{
  	width: 100%;
  	border:none;
  	border-top: 0.5px solid #848484;
  	border-right: 0.5px solid #848484;
  	border-left: 0.5px solid #848484;
  	border-bottom: 0.5px solid #848484;
  	padding-left: 1%;
  	padding-top: 1%;
  	padding-bottom: 1%;  	
  	border-radius: 10px;
  }
  .sbmtCJ{
  	margin-top: 2%;
  	width: 30%;
  	border-radius: 30px;
  	border:none;
  	color: white;
  	background-color: #F71C46;
  	padding-left: 1%;
  	padding-top: 1%;
  	padding-bottom: 1%; 
  	padding-right: 1%;
  }
  .bdIcn{
	width: 100%;
	text-align: center;
  }
  .bdHlp{
  	padding-left: 35%;
  }
}

